
// fonts  ------------------------------------------


// @import url("fonts/SFProDisplay/stylesheet.css");
// @import url("fonts/OpenSans/stylesheet.css");



// reset.css  ----------------------------------------



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// SECTION ---------------------------------------------

body {
    position: relative;
    width: 1536px;
    height: 1927px;

    background: #FFFFFF;
}

header {
    position: absolute;
    width: 1440px;
    height: 32px;
    left: 48px;
    top: 12px;
    background: #FED600;
}

nav {
    position: absolute;
    width: 1440px;
    height: 204px;
    left: 48px;
    top: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}

a {
    text-decoration: none;
}


// HEADER ----------------------------------------------

.header-ul-piter {
    position: absolute;
    width: 111px;
    height: 18px;
    left: 120px;
    top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.header-ul-numb {
    position: absolute;
    width: 113px;
    height: 18px;
    left: 271px;
    top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.header-ul-vector {
    position: absolute;
    height: 5.93px;
    width: 9.51px;
    left: 236.24px;
    top: 7.74px;
    border-radius: none;
    
}

.header-ul-workday {
    position: absolute;
    width: 233px;
    height: 18px;
    left: 400px;
    top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.header-ul-write_to_us {
    position: absolute;
    width: 99px;
    height: 18px;
    left: 895px;
    top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}

.header-ul-contact_to_dir {
    position: absolute;
    width: 166px;
    height: 18px;
    left: 1030px;
    top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}

.header-ul-vector-telegram {
    position: absolute;
    height: 13.93px;
    width: 16px;
    left: 1232px;
    top: 7px;
    border-radius: none;
   

}

.header-ul-vector-skype {
    position: absolute;
    height: 14px;
    width: 17.75px;
    left: 1267.13px;
    top: 7px;
    border-radius: none;

}

.header-ul-vector-phon {
    position: absolute;
    height: 16px;
    width: 15.58px;
    left: 1304.21px;
    top: 7px;
    border-radius: none;

}

// NAV ------------------------------------------------

.nav-ul-logo {
    position: absolute;
    width: 64px;
    height: 73px;
    left: 120px;
    top: 16px;
}

.nav-ul-expert_3d {
    position: absolute;
    width: 133px;
    height: 36px;
    left: 200px;
    top: 34px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    // display: flex;
    align-items: center;
    color: #000000;

}

.span_3d {
    color: red;
}

.nav-div-yndlock {
    position: absolute;
    width: 105px;
    height: 60px;
    left: 365px;
    top: 22px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.nav-div-ynimg {
    position: absolute;
    width: 81px;
    height: 50px;
    left: 12px;
    top: 5px;
}

.nav-form-inp_search {
    position: absolute;
    width: 521px;
    height: 44px;
    left: 502px;
    top: 30px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
}

input {
    border:none;
}

::-webkit-input-placeholder {color:#9E9E9E; opacity:1;}
::-moz-placeholder          {color:#9E9E9E; opacity:1;}
:-moz-placeholder           {color:#9E9E9E; opacity:1;}
:-ms-input-placeholder      {color:#9E9E9E; opacity:1;}

.nav-form-inp_text {
    position: absolute;
    width: 290px;
    height: 18px;
    left: 16px;
    top: 11px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #BDBDBD;
}

.nav-form-divbut {
    position: absolute;
    width: 75px;
    height: 36px;
    left: 441px;
    top: 3px;
    border: 2px solid #D2001C;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.nav-form-inp_button {
    position: absolute;
    width: 50px;
    height: 18px;
    left: 9px;
    top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 0px;
    text-align: center;
    background-color: white;
    color: #D2001C;
}

.nav-ul-img_enter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1055px;
    top: 40px;

}

.nav-ul-inp_enter {
    position: absolute;
    width: 41px;
    height: 18px;
    left: 1087px;
    padding-left: 0px;
    padding-right: 0px;
    top: 43px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    background-color: white;
    color: #222222;
}

.nav-div-bask_button {
    position: absolute;
    width: 160px;
    height: 36px;
    left: 1160px;
    top: 34px;

    background: #D2001C;
    border-radius: 4px;
}

.nav-div-bask_bask {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 6px;
}

.nav-div-bask_entr_bask {
    position: absolute;
    width: 96px;
    height: 18px;
    left: 48px;
    top: 9px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.nav-ul-action {
    position: absolute;
    width: 40px;
    height: 18px;
    left: 124px;
    top: 102px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-about_us {
    position: absolute;
    width: 36px;
    height: 18px;
    left: 228px;
    top: 102px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-events {
    position: absolute;
    width: 88px;
    height: 18px;
    left: 328px;
    top: 102px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-payment {
    position: absolute;
    width: 118px;
    height: 18px;
    left: 480px;
    top: 102px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-question {
    position: absolute;
    width: 132px;
    height: 18px;
    left: 662px;
    top: 102px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-gos_purchases {
    position: absolute;
    width: 78px;
    height: 18px;
    left: 858px;
    top: 102px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-blog {
    position: absolute;
    width: 29px;
    height: 18px;
    left: 1000px;
    top: 102px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-masster_class {
    position: absolute;
    width: 95px;
    height: 18px;
    left: 1093px;
    top: 102px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-contacts {
    position: absolute;
    width: 61px;
    height: 18px;
    left: 1252px;
    top: 102px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-div-rectangle {
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0px;
    top: 142px;
    background: #BDBDBD;
    opacity: 0.35;
}

.nav-ul-bold_3dprint {
    position: absolute;
    width: 91px;
    height: 18px;
    left: 124px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-bold_3dscan {
    position: absolute;
    width: 80px;
    height: 18px;
    left: 245px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.nav-ul-bold_stanki {
    position: absolute;
    width: 50px;
    height: 18px;
    left: 355px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_robot {
    position: absolute;
    width: 51px;
    height: 18px;
    left: 435px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_obr {
    position: absolute;
    width: 92px;
    height: 18px;
    left: 516px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;


}

.nav-ul-bold_stomat {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 638px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_gadget {
    position: absolute;
    width: 62px;
    height: 18px;
    left: 768px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_mat {
    position: absolute;
    width: 80px;
    height: 18px;
    left: 860px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;


}

.nav-ul-bold_po {
    position: absolute;
    width: 21px;
    height: 18px;
    left: 970px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_reshen {
    position: absolute;
    width: 62px;
    height: 18px;
    left: 1021px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_uchcentr {
    position: absolute;
    width: 106px;
    height: 18px;
    left: 1113px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-ul-bold_uslugi {
    position: absolute;
    width: 47px;
    height: 18px;
    left: 1249px;
    top: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

}

.nav-bold-vector {
    position: absolute;
    top: 164px;
}

.v1 {
    left: 220.24px;
}

.v2 {
    left: 330.24px;
}

.v3 {
    left: 410.24px;
}

.v4 {
    left: 491.24px;
}

.v5 {
    left: 613.24px;
}

.v6 {
    left: 743.24px;
}

.v7 {
    left: 835.24px;
}

.v8 {
    left: 945.24px;
}

.v9 {
    left: 996.24px;
}

.v10 {
    left: 1088.24px;
}

.v11 {
    left: 1224.24px;
}

.v12 {
    left: 1301.24px;
}

.section-team {
    position: absolute;
    width: 1228px;
    height: 430.88px;
    left: 154px;
    top: 318.56px;
}


.div-3d_text {
    position: absolute;
    width: 708px;
    height: 208px;
    left: 674px;
    top: 800px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.7px;

    color: #4D4D4D;
}